# =========================================================
# Welcome to the global git configuration file
# =========================================================
[user]
    name = Joost VanDorp
    email = joostvandorp@gmail.com

[core]
    # insanely beautiful diffs
    pager = git diff --color | diff-so-fancy | less -r

[color]
    ui = always

[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = cyan
    old = red bold
    new = green bold
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "magenta bold"
    newNormal = "green bold"
    newHighlight = "blink cyan bold"

[color "status"]
    added = green
    changed = yellow
    untracked = cyan

[commit]
	template = ~/.gitcommitmessage

[help]
    autocorrect = 1
